.inc{
    width: 50px;
    height: 50px;
    font-size: 35px;
    margin-left: 50px;
}

.dec{
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.num{
    width: 50px;
    height: 45px;
    font-size: 35px;
    margin-top: 50px;
}

.cart{
    width: 170px;
    height: 45px;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 50px;
}

.text{
    text-align: center;
    padding-bottom: 20px;
}