body{
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    text-align: center;
    font-size: 3em;
}

.p1{
    width: 1800px;
    height: 700px;
    border-radius: 20px;
}

.products{
    font-size: 60px;
}

.iimg{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.column{
    float: left;
    padding: 40px;
    padding-left: 100px;
}