.button1{
    height: 50px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    float: right;
}

/* .logo{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
} */

.left{
    float: left;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 7px;
}

.right{
    float: right;
    margin-top: 10px;
    margin-right: 7px;
}